Exemplo de configuração - Copiar para db.properties e ajustar os valores

db.url=jdbc:mysql://localhost:3306/restaurante_db?serverTimezone=Europe/Lisbon
db.user=teu_utilizador
db.password=tua_password
